%h1 Content Details
%table
  %thead
    %tr
      %th Content Body
      %th Content Type
  %tbody      
    - @contents.each do |content|
      %tr
        %td= content.content_body
        %td= content.content_type
        %td= link_to "show", show_content_path(content)
