%h1 Content Details
%table
  %tr
    %th Content Body
    %th Content Type
        
  %tr
    %td what is computer?
    %td Introduction of Computer
    %td= link_to "show", show_content_path
    
  %tr
    %td what is I/O devices?
    %td Introduction of Input & Output Devices
    %td= link_to "show", show_content_path


