%h1 Comment Details
%table
  %tr
    %th Description
    
  %tr
    %td Introduction of Computer Basics
    %td= link_to "show", show_comment_path
  %tr
    %td Introduction of Input & Output Devices
    %td= link_to "show", show_comment_path

 
