%h1 Topic Details
%table
  %tr
    %th Topic Number
    %th Title
    %th Sub Topic
    
  %tr
    %td 2.2
    %td Introduction of Computer Basics
    %td 2.2.1
    %td= link_to "show", show_topic_path
    
  %tr
    %td 3.3
    %td Introduction of Input & Output Devices
    %td 3.3.4
    %td= link_to "show", show_topic_path

= link_to "Back", topics_path   
