Title:
%br
= @topic.title
%br
Description:
%br
= @topic.description
%br
%br
- @topic.contents.each do |content|
  = audio_tag "F:\Songs\hindi songs\new mix\Yeh tara woh tara.mp3", autoplay: true, controls: true
  %br
  %br
  = raw(content.content_body)

