Title:
%br
= @topic.title
%br
Description:
%br
= @topic.description
%br
%br
- @topic.contents.each do |content|
  =audio_tag content.topic_content, autoplay: false, controls: true
  %br
  %br
  =raw(content.content_body)

