#game-levels{role: 'grid'}
  - (1..8).to_a.each_slice(4) do |levels|
    .row{role: 'row'}
      - levels.each do |level|
        .span3.well.level{role: 'gridcell', id: "level_#{level}"}= level
         
