%h1 Request Details
%table
  %tr
    %th Title
    %th Body
    %th Status    
  %tr
    %td plz expalin briefly
    %td Introduction of Java
    %td tell me
    %td= link_to "show", show_request_path
    
  %tr
    %td i didn't get this point
    %td Introduction of c++
    %td suggest me
    %td= link_to "show", show_request_path

= link_to "Back", requests_path   
