%h1 REQUEST DETAILS
%table
  %tr
    %th Title
    %th Body
    %th Status
    
  %tr
    %td dont get this point
    %td suggest me
    %td please explain us..
    
= link_to "Back", show_request_path   