.course
  .row
    .span3.course-scoring
      .score-wrapper
        %ul.unstyled.score.large
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
        %span.delta 4 of 8 cells to win
    .span9
      .row-fluid
        .counter{class: "counter-7"}
        %h1.gamma
          Ruby Basics
      -# begin ====================== loop
      .row-fluid.course-lesson-wrapper
        .span9
          .row-fluid.course-lesson
            .span3
              .score-wrapper
                %ul.unstyled.score
                  %li.score-indicator.complete
                  %li.score-indicator.complete
                  %li.score-indicator
            .span9.lesson-details
              %h2.delta Language Syntax
              %button.btn.btn-start-lesson Start Lesson
        .span3
          %span.giga v
      -# end ====================== loop


      .row-fluid.course-lesson-wrapper
        .span9
          .row-fluid.course-lesson
            .span3
              .score-wrapper
                %ul.unstyled.score
                  %li.score-indicator.complete
                  %li.score-indicator
                  %li.score-indicator
            .span9.lesson-details
              %h2.delta Block Statements
              %button.btn.btn-start-lesson Start Lesson
        .span3
          %span.giga v
      .row-fluid.course-lesson-wrapper
        .span9
          .row-fluid.course-lesson
            .span3
              .score-wrapper
                %ul.unstyled.score
                  %li.score-indicator.complete
                  %li.score-indicator
            .span9.lesson-details
              %h2.delta Arrays, Hashes
              %button.btn.btn-start-lesson Start Lesson
        .span3
          %span.giga x



