.level
  .row
    .span6
      .row-fluid
        .counter{class: "counter-7"}
        %h1.gamma
          Ruby Basics
  .row
    .span3.level-scoring
      .score-wrapper
        %ul.unstyled.score.large
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
        %span.delta 5 of 8 coins to win
    .span9
      -# begin ====================== loop
      .row-fluid.level-topic-wrapper
        .span9
          .row-fluid.level-topic.colored-block
            .span3
              .score-wrapper
                %ul.unstyled.score
                  %li.score-indicator.complete
                  %li.score-indicator.complete
                  %li.score-indicator.complete
            .span9.topic-details
              %h2.delta Language Syntax
              %p.topic-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nunc sapien, lacinia ut velit a, luctus mollis velit
              %a.btn.btn-start-topic{:href => "/topic.html"} Start topic
        .span3
          -# uses right and wrong classes to toggle
          .topic-score.right
          
      -# end ====================== loop


      .row-fluid.level-topic-wrapper
        .span9
          .row-fluid.level-topic.colored-block
            .span3
              .score-wrapper
                %ul.unstyled.score
                  %li.score-indicator.complete
                  %li.score-indicator
                  %li.score-indicator
            .span9.topic-details
              %h2.delta Block Statements
              %p.topic-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nunc sapien, lacinia ut velit a, luctus mollis velit
              %a.btn.btn-start-topic{:href => "/topic.html"} Start topic
        .span3
          .topic-score.wrong
      .row-fluid.level-topic-wrapper
        .span9
          .row-fluid.level-topic.colored-block
            .span3
              .score-wrapper
                %ul.unstyled.score
                  %li.score-indicator.complete
                  %li.score-indicator
            .span9.topic-details
              %h2.delta Arrays, Hashes
              %p.topic-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nunc sapien, lacinia ut velit a, luctus mollis velit
              %a.btn.btn-start-topic{:href => "/topic.html"} Start topic
        .span3
          .topic-score.wrong

  .row.bonus
    .span4.offset4
      -# update this text and ADD the class unlocked to this button to change the graphic
      =link_to 'Bonus Round', "#", class: 'btn-bonus-round'
    
