.row
  .span3
    .lesson-summary
      %header
        .counter.counter-1
        Basic Computer
      %p.description
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. 
      %a.btn.btn-mini.btn-try-now{:href => "#"} try now
      .score-wrapper
        %ul.unstyled.score
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
      %footer
        [  ] [  ] [  ]
  .span3
    .lesson-summary
      %header
        .counter.counter-2
        Typing
      %p.description
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. 
      %a.btn.btn-mini.btn-try-now{:href => "#"} try now
      .score-wrapper
        %ul.unstyled.score
          %li.score-indicator.complete
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
      %footer
        [  ] [  ] [  ]
  .span3
    .lesson-summary
      %header
        .counter.counter-3
        Lorem Ipsum
      %p.description
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. 
      %a.btn.btn-mini.btn-try-now{:href => "#"} try now
      .score-wrapper
        %ul.unstyled.score
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
      %footer
        [  ] [  ] [  ]
  .span3
    .lesson-summary
      %header
        .counter.counter-4
        Lorem Ipsum
      %p.description
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. 
      %a.btn.btn-mini.btn-try-now{:href => "#"} try now
      .score-wrapper
        %ul.unstyled.score
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
      %footer
        [  ] [  ] [  ]
.row
  .span3
    .lesson-summary
      %header
        .counter.counter-5
        Lorem Ipsum
      %p.description
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. 
      %a.btn.btn-mini.btn-try-now{:href => "#"} try now
      .score-wrapper
        %ul.unstyled.score
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator.complete
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
      %footer
        [  ] [  ] [  ]
  .span3
    .lesson-summary
      %header
        .counter.counter-6
        Lorem Ipsum
      %p.description
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. 
      %a.btn.btn-mini.btn-try-now{:href => "#"} try now
      .score-wrapper
        %ul.unstyled.score
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
      %footer
        [  ] [  ] [  ]
  .span3
    .lesson-summary
      %header
        .counter.counter-7
        Ruby Basics
      %p.description
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. 
      %a.btn.btn-mini.btn-try-now{:href => "#"} try now
      .score-wrapper
        %ul.unstyled.score
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
      %footer
        [  ] [  ] [  ]
  .span3
    .lesson-summary
      %header
        .counter.counter-8
        Lorem Ipsum
      %p.description
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. 
      %a.btn.btn-mini.btn-try-now{:href => "#"} try now
      .score-wrapper
        %ul.unstyled.score
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
          %li.score-indicator
      %footer
        [  ] [  ] [  ]

