%h1 Course Information
%label *Name
%input 
%br
%label Short Name
%input
%br
%label *Description
%input
%br
%label Index
%input
%br
%label *Course Date
%input 
%br  
%label Course Period
%br 
= check_box_tag :course_period
%br 
%label *Start_date
%input 
%br  
%label *End_date
%input 
%br  

%button create course