%h1 COURSE DETAILS
%table
  %tr
    %th name
    %th short_name
    %th description
    %th index
    %th course_date
    %th course_period
    %th start_date
    %th end_date

  %tr
    %td master in computer science
    %td BCS
    %td doing master in computer science
    %td index
    %td 12-05-2011
    %td true
    %td 21-06-2011
    %td 21-04-2013

= link_to "Back", courses_path   