$background-color: $black;
$color: $yellow;
body {
  .lesson-summary {
    background-color: $background-color;
  }
  pre.black{
    background-color: $background-color;
 }

}

@include setup($background-color, $color);
