$med-grey: rgb(204, 204, 204);
$orange: rgb(255, 157, 62);
$yellow: rgb(255, 255, 0);
$black: rgb(0,0,0);
$white: rgb(255,255,255);
$background-color: $white;
$color: $black;
// $contrasted-lightness-threshold: 100%;

.element-invisible{
 overflow:hidden;
 height:0px;
 margin-left:-1000px;
 position:absolute;
 width: 0px;
}




