// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.alpha {
  font-weight: 100;
}

.course {

  .counter {
    margin-top: 0;
    margin-right: 10px;
  }
  .course-scoring {
    // margin-top: 45px;
    .score-wrapper {
      width: 200px;
      margin: 0 auto;
    }
  }
  .course-lesson-wrapper {
    margin-bottom: 20px;
  }
  .course-lesson {
    background: rgb(247,247,247);
    border: 1px solid lighten($med-grey, 10%);
    padding: 10px;
  }

  .lesson-details {
    text-align: center;
    border-left: 1px solid $med-grey;
    h2 {
      color: $med-grey;
    }
    
  }
  .lesson-score {
    display: block;
    width: 92px;
    height: 86px;
    background: url(icon-right-wrong.png) no-repeat;
    &.wrong {
      background-position: 0 -88px;
    }
    &.right {
      background-position: 0 0;
    }
  }
  .btn-start-lesson {
    background-image:none;
    background-color: $med-grey;
    color: darken($med-grey, 40%);
    padding: 5px 50px;
    border: none;
    font-weight: 700;
    @include border-radius(3px);
    // @include text-shadow(1px 1px 1px #888);
    &:hover {
      background-color: darken($med-grey, 10%);
    }
  }
}

.btn-bonus-round {
  display: block;
  width: 400px;
  height: 195px;
  margin: 50px 0 0 -15px;
  @include adjust-font-size-to(35px);
  text-decoration: none;
  color: darken($med-grey, 20%);
  padding: 70px 160px 0 20px;
  text-align: center;
  background: rgb(233, 233, 233) url(bonus-round.png) right 0 no-repeat;
  &:hover {
    text-decoration: none;
    color: darken($med-grey, 40%);
  }
  &.unlocked {
    background-color: rgb(220, 233, 220);
    background-position: right -195px;
    padding-top: 50px;
  }
}

