
$base-font-size: 12px;
@include establish-baseline;

body{
  font-family: arial, helvetica, sans-serif;
  padding-top: 60px;
  color: black;
  font-size: $base-font-size;
}

.main-container{

}

.no-focus:focus {
  outline: none;
}

.color-switcher {
  @include horizontal-list;
  margin-top: 10px;
  float: left;
  .switch {
    width: 20px;
    height: 20px;
    background:white;
    border: 1px solid white;
    margin-right: 5px;
    @include border-radius(10px);
    cursor: pointer;
    &.yellow {
      background-color: $yellow;
    }
    &.orange {
      background-color: $orange;
    }
    &.black {
      background-color: black;
    }
  }
}

.counter {
  float:left;
  width: 24px;
  height: 40px;
  margin-top: -20px;
  background-image: url(braille-numbers.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  $count: 9;
  $offset: -24px;
  @while $count > 0 {
    &.counter-#{$count} {
      background-position: $offset * ($count - 1) 0;
    }
    $count: $count - 1;
  }
}
@include setup($white, $black);
html.black {
  .counter {
    background-image: url(braille-numbers-white.png);
  }
}

.score-wrapper {
  .score {
    padding: 5px 0 0 0;
    .score-indicator {
      width: 32px;
      height: 32px;
      display:inline-block;
      background: url(coins.png) 0 -36px no-repeat;
      &.complete {
        background-position: 0 0;
      }
    }
    &.small {
      .score-indicator {
        width: 25px;
        height: 25px;
        background: url(coins-small.png) 0 -28px no-repeat;
        &.complete {
          background-position: -1px 0px;
        }
      }
    }
    &.large {
      .score-indicator {
        width: 64px;
        height: 64px;
        background: url(coins@2x.png) 0 -69px no-repeat;
        &.complete {
          background-position: 0 0;
        }
      }
    }
  }
}
