$med-grey: rgb(204, 204, 204);

$base-font-size: 12px;
@include establish-baseline;

body{
  font-family: arial, helvetica, sans-serif;
  padding-top: 60px;
  color: black;
  // background: #ffff00;
}

.main-container{

}

.no-focus:focus {
  outline: none;
}

.counter {
  float:left;
  width: 24px;
  height: 40px;
  margin-top: -20px;
  background: url(braille-numbers.png) 0 0 no-repeat;
  $count: 9;
  $offset: -24px;
  @while $count > 0 {
    &.counter-#{$count} {
      background-position: $offset * ($count - 1) 0;
    }
    $count: $count - 1;
  }
}
.lesson-summary {
  background: rgb(247,247,247);
  padding: 5px 20px;
  border: 1px solid black;
  margin-bottom: 20px;
  
  header {
    font-family: 'Cabin', sans-serif;
    font-size: 1.2em;
    padding-top: 25px;
    padding-bottom: 3px;
    text-align:right;
    border-bottom: 2px solid black;
  }
  .description {
    // @include adjust-font-size-to(12px);
    padding: 10px 0 20px;
  }
  .btn-try-now{
    background-image:none;
    background: black;
    color:#fff;
    @include adjust-font-size-to(13px);
    font-weight: 600;
    border:none;
    float: right;
    margin-top: -22px;
    padding: 0 20px;
  }
  .score-wrapper {
    min-height: 72px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
}

.score-wrapper {
  .score {
    padding: 5px 0 0 0;
    .score-indicator {
      width: 32px;
      height: 32px;
      display:inline-block;
      background: url(coins.png) 0 -36px no-repeat;
      &.complete {
        background-position: 0 0;
      }
    }
    &.small {
      .score-indicator {
        width: 25px;
        height: 25px;
        background: url(coins-small.png) 0 -28px no-repeat;
        &.complete {
          background-position: -1px 0px;
        }
      }
    }
    &.large {
      .score-indicator {
        width: 64px;
        height: 64px;
        background: url(coins@2x.png) 0 -69px no-repeat;
        &.complete {
          background-position: 0 0;
        }
      }
    }
  }
}
