
// $base-font-size: 12px;
@include establish-baseline;

body{
  padding-top: 60px;
  color: black;
  font:62.5%/1.5 Arial, helvetica, sans-serif;
  background: rgb(103, 113, 123) url(bkg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
}

p, a, li, pre{
  font-size: 1.2em;
}

body.textsize-425 {font:42.5%/1.5 Arial, sans-serif;}
body.textsize-625 {font:62.5%/1.5 Arial, sans-serif;}
body.textsize-825 {font:82.5%/1.5 Arial, sans-serif;}
body.textsize-1025 {font:102.5%/1.5 Arial, sans-serif;}
body.textsize-1225 {font:122.5%/1.5 Arial, sans-serif;}
body.textsize-1425 {font:142.5%/1.5 Arial, sans-serif;}
.content{
  background: rgba(255, 255, 255, .9);
  padding: 20px;
  input[type='text']{
    font-size: 1.5em;
    height: auto;
    padding: 5px;
  }
}
.main-container{
  margin-top: 20px;
  min-height: 660px;
}

.colored-block {
  @include single-transition(background-color, .75s);
}
#navbar-top {
  position:relative;
}
.no-focus:focus {
  outline: none;
}
.control-panel {
  background: black;
  overflow:hidden;
  // width: 250px;
  position:fixed;
  right: 0;
  top: 30%;
  padding: 10px 10px 0px 0px;
  @include border-radius(5px 0 0 5px);
}
.switcher {
  // @include horizontal-list;
  margin-left: 10px;
  // float: left;
  &.font-switcher {
    // margin-right: 10px;
  }
  .switch {
    width: 20px;
    height: 20px;
    background:white;
    margin-bottom: 5px;
    cursor: pointer;
  }
}
.font-switcher {
  .switch {
    text-align:center;
    padding: 0;
    font-size: 12px;
    color: black !important;
  }
}
.color-switcher {
  .switch {
    background-color:black;
    // @include border-radius(10px);
    
    // &.yellow {
    //   background-color: $yellow;
    // }
    // &.orange {
    //   background-color: $orange;
    // }
    // &.black {
    //   background-color: black;
    //   border: 1px solid white;
    // }
    &:last-child{
      margin-bottom: 0;
    }
  }
}


.counter {
  float:left;
  width: 24px;
  height: 40px;
  margin-top: -20px;
  background-image: url(braille-numbers.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  $count: 9;
  $offset: -24px;
  @while $count > 0 {
    &.counter-#{$count} {
      background-position: $offset * ($count - 1) 0;
    }
    $count: $count - 1;
  }
}

@include setup($white, $black);
html.black {
  .counter {
    background-image: url(braille-numbers-white.png);
  }
}

.summary-coin {
  position:relative;
  padding: 84px 5px 10px;
  text-align: center;
  font-size: 1.4em;
  background:#fff;
  @include border-radius(8px 0 8px 8px);
  &:before {
    content: '';
    display:inline-block;
    position:absolute;
    width: 64px;
    height: 64px;
    top: 10px;
    left: 35px;
    background: url(coins@2x.png) 0 0 no-repeat;
  }
}

.social-share-icons {
  @include horizontal-list;
  float: right;
  .social {
    width: 25px;
    height: 25px;
    display: block;
    // margin-left: 5px;
    background: url(social-icons.png) 0 0 no-repeat;
    &.linkedin {
      background-position: -27px 0; 
    }
    &.twitter {
      background-position: -53px 0;
    }

  }
}

#wrap
{
min-height: 100%;
}

#main
{
overflow:auto;
padding-bottom:150px; /* this needs to be bigger than footer height*/
}
 
.footer{
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 75px;
    clear:both;
    color:#fff;
    
    .nav > li > a {
      display: inline;
    }
} 

.score-wrapper {
  text-align:center;
  .score {
    padding: 5px 0 0 0;
    .score-indicator {
      width: 32px;
      height: 32px;
      display:inline-block;
      background: url(coins.png) 0 -36px no-repeat;
      &.complete {
        background-position: 0 0;
      }
    }
    &.small {
      .score-indicator {
        width: 25px;
        height: 25px;
        background: url(coins-small.png) 0 -28px no-repeat;
        &.complete {
          background-position: -1px 0px;
        }
      }
    }
    &.large {
      .score-indicator {
        width: 64px;
        height: 64px;
        background: url(coins@2x.png) 0 -69px no-repeat;
        &.complete {
          background-position: 0 0;
        }
      }
    }
  }
}
