
.lesson-title{
  text-align: center;
  margin-bottom: 30px;
}

section.lesson {
  padding-left: 70px;
  .audio {
    padding-left: 60px;

  }
  
  .lesson-details {
    margin-top: 20px;
  }
  .test {
    .question {
      @include adjust-font-size-to(17px);
    }
    .control-group {
      padding-left: 4px;
    }
  }
}
.mejs-container {
  background: rgb(220, 220, 220) !important;
}