// Place all the styles related to the levels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.alpha {
  font-weight: 100;
}

.level {
  & > .row:first-child {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
  }
  .counter {
    margin-top: 0;
    margin-right: 10px;
  }
  .level-scoring {
    // margin-top: 45px;
    .score-wrapper {
      width: 200px;
      margin: 0 auto;
    }
  }
  .level-topic-wrapper {
    margin-bottom: 20px;
  }
  .level-topic {
    // background: rgb(247,247,247);
    border: 1px solid black;
    padding: 10px;
  }

  .topic-details {
    text-align: center;
    border-left: 1px solid black;
    h2 {
      // color: black;
      margin-bottom: 10px;
    }
    .topic-description {

    }
  }
  .topic-score {
    display: block;
    width: 92px;
    height: 86px;
    background: url(icon-right-wrong.png) no-repeat;
    &.wrong {
      background-position: 0 -88px;
    }
    &.right {
      background-position: 0 0;
    }
  }
  .btn-start-topic {
    background-image:none;
    background-color: black;
    color: white;
    padding: 5px 50px;
    border: none;
    font-weight: 700;
    @include border-radius(3px);
    @include text-shadow(none);
    &:hover {
      background-color: lighten(black, 20%);
    }
  }
}

.btn-bonus-round {
  display: block;
  width: 400px;
  height: 195px;
  margin: 50px 0 30px -15px;
  @include adjust-font-size-to(35px);
  text-decoration: none;
  color: black;
  padding: 70px 160px 0 20px;
  text-align: center;
  background: rgb(233, 233, 233) url(bonus-round.png) right 0 no-repeat;
  &:hover {
    text-decoration: none;
    color: lighten(black, 20%);
  }
  &.unlocked {
    background-color: rgb(220, 233, 220);
    background-position: right -195px;
    padding-top: 50px;
  }
}

