
.topic-title{
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

section.topic {
  padding-left: 40px;
  .audio {
    padding-left: 90px;

  }
  
  .topic-details {
    margin-top: 20px;
    padding: 10px;
    p {
      padding: 10px;
    }
  }
  .test {
    .question {
      @include adjust-font-size-to(17px);
    }
    .control-group {
      padding-left: 4px;
    }
  }
}
.mejs-container {
  background: rgb(220, 220, 220) !important;
}