.showmered, .showmeblue, .showmegreen, .showmeyellow, .showmegrey {
  // border: 1px solid;
  // margin: 1px;
  // margin-right: -2px;
}

.showmered {
  background-color: rgba(255,0,0,.125);
}

.showmeblue {
  background-color: rgba(0,0,255,.125);
}

.showmegreen {
  background-color: rgba(0,255,0,.125);
}

.showmeyellow {
  background-color: rgba(255,255,0,.125);
}

.showmegrey {
  background-color: rgba(150,150,150,.125);
}
