
.span6.pull-left
  %ul.nav
    %li
      %a{:href => "http://joshsoftware.com"}
        %img{:src =>'/images/Josh.svg', :alt => 'Josh software logo', :width => "100px"}
    %li
      %p Knowledge Partner 
.span6.pull-middle
  %ul.nav
    %li
      %a{:href => "http://techvision.net.in"}
        %img{:src =>'/images/techvision4.jpg', :alt => 'TechVision logo', :width => "125px"}
    %li
      %p Develop by
.span3.pull-right
  %ul.nav
    %li
      %a{:href => "http://www.rackspace.com/"}
        %img{:src =>'/images/Rackspace_Cloud_Company_Logo_clr_300x109.jpg', :alt => 'Rackspace logo', :width => "100px"}      
    %li
      %p Hosting Partner           


