
.span6.pull-left
  %ul.nav
    %li
      %p Knowledge Partner 
    %li
      %a{:href => "http://joshsoftware.com"}
        %img{:src =>'/images/Josh.svg', :alt => 'Josh software', :width => "100px"}
.span6.pull-middle
  %ul.nav
    %li
      %p Developed by
    %li
      %a{:href => "http://techvision.net.in"}
        %img{:src =>'/images/techvision4.jpg', :alt => 'TechVision', :width => "125px"}
.span3.pull-right
  %ul.nav
    %li
      %p Hosting Partner
    %li
      %a{:href => "http://www.rackspace.com/"}
        %img{:src =>'/images/Rackspace_Cloud_Company_Logo_clr_300x109.jpg', :alt => 'Rackspace', :width => "100px"}      
               


